node-red.json
[
    {
        "id": "7678561c.7dfab8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a31aba73.a82c38",
        "type": "mqtt in",
        "z": "7678561c.7dfab8",
        "name": "",
        "topic": "estacao/+/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "fea37af.20d1088",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "9f0f7368.ff2a1",
                "4254cf17.8a8f"
            ]
        ]
    },
    {
        "id": "9f0f7368.ff2a1",
        "type": "mqtt out",
        "z": "7678561c.7dfab8",
        "name": "",
        "topic": "tago/data/post",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "964a02b7.10a3f",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "4254cf17.8a8f",
        "type": "debug",
        "z": "7678561c.7dfab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "fea37af.20d1088",
        "type": "mqtt-broker",
        "name": "broker nodemcu",
        "broker": "192.168.68.113",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "964a02b7.10a3f",
        "type": "mqtt-broker",
        "name": "TagoIO-MeuDispositivoIoT",
        "broker": "mqtt.tago.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]